# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [12]:
import pandas as pd

### Step 2. Import the dataset from drinks.csv

### Step 3. Assign it to a variable called drinks.

In [13]:
drinks = pd.read_csv('data\drinks.csv')

### Step 4. Which continent drinks more beer on average?

In [33]:
drinks[['continent','total_litres_of_pure_alcohol']].groupby('continent').mean().sort_values('total_litres_of_pure_alcohol', ascending=False)[:1]

           total_litres_of_pure_alcohol
continent
EU                             8.617778

### Step 5. For each continent print the statistics for wine consumption.

In [50]:
drinks[['continent','wine_servings']].groupby('continent').describe()

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [53]:
drinks[1:].groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.906977,62.255814,9.279070,2.220930
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [54]:
drinks[1:].groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,19.0,16.0,1.0,1.40
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [56]:
drinks[['spirit_servings']].describe()

       spirit_servings
count       193.000000
mean         80.994819
std          88.284312
min           0.000000
25%           4.000000
50%          56.000000
75%         128.000000
max         438.000000